<!DOCTYPE html>
<html>
<head>
<title>Membership App</title>
<link rel="stylesheet" type="text/css" href="css/app.css">
<!-- <script type="js/libs/validators.min.js"></script>
<script type="js/libs/validate.min.js"></script> -->

</head>
<body>
    <div id="app">
        <div class="card">
            <div class="left-panel">
              Thiss-nht cnhsjdsaj!
              <div>
                <button @click="show = !show">
                  Toggle render
                </button>


                </div>
            </div>

             <div   class="right-panel-default">
                Thes em der grhshgr she fhr dhg segd th cbfv fb sds bvhdvh gh
                <div v-if="show" class="overlay">
                    <div class="text">Hello World</div>
                </div>


            </div>
            <!-- <transition name="custom-classes-transition">
            <div  v-if="!show" class="right-panel-slide">
               Thes em der grhshgr she fhr dhg segd th cbfv fb sds bvhdvh gh
                Thes em der grhshgr she fhr dhg segd th cbfv fb sds bvhdvh gh

           </div>
            </transition> -->
        </div>
    </div>



<script src="js/main.js"></script>

</body>
</html>
